@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
*{
  margin: 0;
  border: 0;
  box-sizing: border-box;
  background-color: #202c37;
  font-family: 'Raleway', sans-serif;
}
.app{
  color: #ffffff;
  
  min-width: 350px;
}